*{
    font-family: Inter,sans-serif!important;
}

.career-container{
    display: flex;
    padding-top: 30px;
}

.career-container h1{
    flex: 1;
    margin: 0px;
    line-height: 1.5;
    color: var(--dark, #211E1E);
    font-family: Inter;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.3px;
}

.career-container p{
    margin: 0px;
    padding-left: 90px;
    line-height: 1.5;
    color: var(--dark, #211E1E);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
}

.career-bottom{
    padding-top: 100px;
}

.CareerCard{
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 14px 23px 0px;
    border-radius: 10px;
}

.CareerCard h2{
    flex-direction: row;
    padding-bottom: 10px;
    margin-bottom: 30px;
    padding-left: 30px;
    color: var(--dark, #211E1E);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    
}